.main{
    display: flex;
    height: 100vh;
    margin: auto;
}
.section1{
    background-color: aquamarine;
    width: 235px;
}
.section2{
    background-color: blue;
width: 600px;
}
.section3{
    background-color: blueviolet;
    width: 400px;
}